.head {
    font-size: 2.5rem;
    text-align: center;
    font-family: Arial, sans-serif;
    margin-bottom: 2rem;
}

.section1 {
    border: 2px solid black;
    padding: 2rem;
    margin-bottom: 4rem;
}

.section1 p {
    text-align: center;
    margin-bottom: 1rem;
}

.section2 {
    margin-bottom: 6rem;
}

.section2 p{
    font-size: 1.8rem;
    text-align: center;
    font-family: Arial, sans-serif;
    margin-bottom: 2rem;
}


.section3 {
    margin-bottom: 6rem;
}

.section3 p {
    font-size: 1.8rem;
    text-align: center;
    font-family: Arial, sans-serif;
    margin-bottom: 2rem;
}

.section4 {
    border: 2px solid;
    border-image: linear-gradient(to right, #4285F4, #DB4437, #F4B400, #0F9D58) 1;
    padding: 2rem;
    margin-bottom: 4rem;
}

.section4 h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.section4 p {
    font-size: 1.8rem;
    text-align: center;
    font-family: Arial, sans-serif;
    margin-bottom: 2rem;
}

.section5 {
    margin-bottom: 6rem;
}

.section5 p {
    font-size: 1.8rem;
    text-align: center;
    font-family: Arial, sans-serif;
    margin-bottom: 2rem;
}



.section6 {
    margin-bottom: 6rem;
}

.section6 p {
    font-size: 1.8rem;
    text-align: center;
    font-family: Arial, sans-serif;
    margin-bottom: 2rem;
}

.section7 p {
    font-size: 1.8rem;
    text-align: center;
    font-family: Arial, sans-serif;
    margin-bottom: 2rem;
}
